@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600;700&family=Inter:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { @apply font-inter; }
  .font-head { font-family: 'Lora', serif; }
}
.elegant {
  font-weight:700;
  letter-spacing: -0.01em;
  color: #ffffff;
  text-shadow: 0 8px 30px rgba(1,25,64,0.28);
}
.elegant .muted { color: rgba(255,255,255,0.85); font-weight:600; }
